.background {
    background-image: url("https://assetcdn.buhlergroup.com/rendition/874601345621/ccba37cf4d6c440da3ea2076fef09c86/-FJPG-S1920x1920");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 100vh;
    width: 100vw;
}

.login-font {
    font-family: 'Roboto', sans-serif;
    font-size: 32px !important;
    font-weight: 600 !important;
    color: black;
    margin-left: 16px !important;
}

.input-box {
    width: 375px !important;
    margin-left: 16px !important;
}

.login-card {
    width: 440px;
    height: auto;
    position: fixed;
    border-radius: 10px !important;
}

.center-card {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.remember-checkbox {
    margin-left: 16px !important;
    font-family: 'Roboto';
    color: #009B91 !important;
}

.MuiFormControlLabel-label {
    color: black;
    letter-spacing: 0px !important;
}

.forgot-password {
    margin-right: 16px !important;
    font-family: 'Roboto', sans-serif !important;
    color: #009B91 !important;
    font-weight: 400 !important;
    line-height: 1.5;
}

.login-button {
    width: 375px !important;
    height: 40px !important;
    background-color: #009B91 !important;
    margin-left: 16px !important;
}

.req-button {
    width: 375px !important;
    height: 40px !important;
    margin-left: 16px !important;
    border-color: #009B91 !important;
    color: #009B91 !important;
}